/* Estilo para el modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.493);
    
}
/* Estilo para el contenido del modal */
.modal-contenido {
    margin: 5% auto;
    padding: 15px;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;

}

/* Estilo para el botón de cerrar */
.cerrar {
    position: absolute; /* Establece una posición absoluta */
    top: 0.5px; /* Ajusta la distancia desde arriba según sea necesario */
    right: 18px; /* Ajusta la distancia desde la derecha según sea necesario */
    cursor: pointer;
    font-size: 40px;
    color: #888;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Estilos para el formulario*/
.contenedor-formulario {
    width: 350px;
    padding: 80px;
    display: inline-block;
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*Estilo para botones y otros*/
.btn-iniciar {
    width: 60%;
    padding: 10px;
    background-color: #634e91;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
}

.titul-sesion{
    text-align: center;
    color: #a26da0;
}

.text-sesion {
    color: #a26da0;
}

.text-reg {
    display: flex;
   justify-content: center;
   align-items: center;
   color: #634e91;
   margin-top: 4px;
   margin-bottom: 8px;
}

.text-reg:hover {
    color: #371c72;
}

.btn-iniciar:hover {
    background-color: #371c72;
}

.otros-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

}

.btn-redondo1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #a26da0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 6px;
}

.btn-redondo2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #a26da0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 6px;
}

.btn-redondo1:hover {
    background-color: #634e91;
}

.btn-redondo2:hover {
    background-color: #634e91;
}

/* Estilos para el contenedor de la sesión de descarga */
.sesion-d {
    text-align: center;
    margin-top: 20px; 
    padding: 15%;
}

/* Estilos para los enlaces de descarga */
.boton-descarga {
    display: inline-block; 
    padding: 10px 20px;
    margin: 10px; 
    background-color: #634e91; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Estilos para el hover del botón de descarga */
.boton-descarga:hover {
    background-color: #371c72; 
}

/*Estilos para el Footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #0d0d15;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #634e91;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #ccc;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #634e91;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #a26da0;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: aliceblue;
}

.social-link a:hover {
    background-color: #371c72;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}